body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Patrick Hand', sans-serif;
}

body {
    background-image: url('9.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

  